* {
  box-sizing: border-box;
}

body {
  margin: auto;
}

html {
  font-family: "Noto Sans JP", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
